.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*header*/

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  padding-top: 100px;
  gap: 180px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 580px;
  gap: 0px;
}

.headings-text-container > h1 {
  font-family: "inter", serif;
  font-weight: 700;
  font-size: 50px;
  color: black;
}

.button-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button {
  border: none;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.button-play {
  background-color: unset;
  border: 1px solid white;
  color: white;
}

.icon-logo-play {
  height: 16px;
}

/*section 1*/
.container-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  align-items: center;
  gap: 50px;
}

.marge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.image-section1 {
  height: 30px;
}

.box-image {
  background-color: rgb(243, 243, 241);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.heading3 {
  font-size: 30px;
  margin-bottom: 10px;
}

/*section 2*/
.section-2 {
  background-color: #f4f5f6;
}

.container-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-left: 350px;
  padding-right: 350px;
  padding-bottom: 50px;
}

.heading3-section-2 {
  margin-bottom: 50px;
}

.heading3-section-2 > h3 {
  font-size: 30px;
  text-align: center;
}

.content-section-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.image-user {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.paragraph-section-2 {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 200;
}

.item-section-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.logo-section-2 {
  width: 170px;
  margin-top: 20px;
}

.tnw {
  width: 100px;
}

/*section 3*/
.container-section-3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 70px;
padding-bottom: 50px;
gap: 50px;
}

.text-container-section3{
text-align: center;
}

.text-container-section3 h2{
font-size: 50px;
font-weight: 400;
}

.text-container-section3 p{
font-size: 20px;
color: rgb(103, 102, 102);
}

.main-container-card{
display: flex;
gap: 20px;

}

.card-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border: 1px rgb(164, 163, 163) solid;
border-radius: 10px;
padding: 0px;
height: 320px;

}

.header-card-1{
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
text-align: center;
border-radius: 10px 10px 0px 0px;
background-color: rgb(248, 245, 245);
padding: 15px;
margin: 0px;
border-bottom: 1px rgb(164, 163, 163) solid;
font-size: 22px;

}

.container-text-card{
display: flex;
flex-direction: column;
align-items: center;
}

.container-text-card ul{
list-style: none;
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}

.unorder-list{
list-style-type: none;
text-align: center;
list-style-position: inside;
padding-left: 50px;
padding-right: 50px;
}

.unorder-list li{
margin: 5px;
}



.container-text-card h4{
margin-top: 15px;
margin-bottom: 0px;
font-size: 40px;
}

.mounth{
color: gray;
font-weight: 200;
margin-left: 0px;
}

.button-section3{
width: 390px;
border: none;
padding: 12px;
font-size: 20px;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 15px;
background-color: rgb(37, 36, 36) ;
color: white;
border-radius: 10px;
}

.button-card-a{
background-color: white;
color: black;
border: 1px solid black;
padding: 11px;
}


.mastiff{
background-color: rgb(37, 36, 36);
color: white;
}

.footer-container{
display: flex;
flex-direction: row;
justify-content: center;
height: 32vh;
align-items: center;
gap: 300px;
}

.footer-main-container{
display: inline-flex;
flex-direction: row;
gap: 200px;
}

.footer-ul{
list-style: none;
text-align: start;
padding-left: 0px;
}

.footer-ul li{
margin: 10px;
margin-left: 0px;
}
